.card {
  position: relative;

  border-radius: 0.2rem;

  padding: 0.5rem;

  height: 100%;
}

.card h2 {
  text-align: center;
}

.img {
  height: 25rem;

  border-radius: 0.2rem;

  transition: all 0.1s ease-in;
}

.img:hover {
  transform: translateY(-15px);

  box-shadow: 0 0 0 2px #333;
}

.description {
  position: absolute;
  top: 0;
  left: 0;

  background: #fff;

  border-radius: 0.5rem;

  height: 100%;
  width: 100%;
  text-align: justify;

  padding: 0.5rem 2rem 0.5rem 0.8rem;

  overflow-y: auto;

  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

.date {
  margin-top: 0.5rem;

  text-align: center;
}

.btnDescription {
  display: block;

  background: #fff;
  color: var(--purple-color);

  font-size: 1rem;

  border: 1px solid transparent;
  border-radius: 0.2rem;

  cursor: pointer;

  width: 100%;

  padding: 0.4rem 1.3rem;

  transition: opacity 0.1s ease-in;

  outline: none;
}

.btnDescription:hover {
  color: var(--light-color);
  background: var(--purple-color);
}

.closeBtn {
  position: absolute;
  right: 0.5rem;
  top: -6px;

  background: none;

  border: 1px solid transparent;
  border-radius: 0.2rem;

  font-size: 0px;

  cursor: pointer;
}

@keyframes scaleUp {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 40rem) {
  .img {
    height: 15rem;
  }

  .description {
    text-align: center;
  }
}
