.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.7rem 2rem;

  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  z-index: 10;
  background: var(--purple-color);

  color: #fff;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar h1 i {
  margin-right: 1rem;
}

.wrapper {
  position: relative;
}

.mobileButton {
  background: #eee;

  border-radius: 0.2rem;
  border: 1px solid transparent;

  width: 40px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 0.1s;
}

.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}

.mobileButton:hover,
.mobileButton:focus,
.mobileButtonActive {
  outline: none;
  background: #fff;
  box-shadow: 0 0 0 3px #eee;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #fff;

  border-radius: 0.2rem;

  padding: 0.5rem;

  margin: 0 0.5rem;
}

.nav .active {
  box-shadow: 0 0 0 3px #eee;
  background: #fff;
  color: var(--purple-color);
  border-color: var(--purple-color);
}

.nav a:hover {
  box-shadow: 0 0 0 3px #eee;
  background: #fff;
  color: var(--purple-color);
  border-color: var(--purple-color);
}

.navMobile {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 100;

  display: none;
  width: 10rem;

  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;

  transform: translateX(-10px);
}

.navMobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navMobile li {
  padding: 0.5rem 0;
}

.navMobile li a {
  color: #333;

  padding: 0.5rem 0;

  background: none;
  border: none;
  border-bottom: 1px solid #eee;
}

.navMobile ul li a:hover {
  color: var(--primary-color);
}

.navMobileActive {
  display: block;
  transition: 0.3s;
  transform: initial;
}

.navMobile .active {
  color: var(--purple-color);
}
