.searchBar {
  margin-top: 1rem;
}

.form {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;

  border: 1px solid #eee;
  border-radius: 0.4rem;

  display: block;

  width: 100%;
  padding: 0.8rem;

  font-size: 1rem;

  transition: 0.2s;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: var(--primary-color);
  background: #eee;
  box-shadow: 0 0 0 2px var(--purple-color);
}
