.container {
  margin-top: 0.5rem;
}

.books {
  margin-top: 0.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btnPages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 40rem) {
  .books {
    grid-template-columns: 1fr 1fr;
  }
}
