.container {
  margin-top: 0.5rem;
}

.books {
  margin-top: 0.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btnPages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  background: #fff;
  color: var(--purple-color);

  font-size: 1rem;

  border: 1px solid transparent;
  border-radius: 0.2rem;

  cursor: pointer;

  margin: 0.5rem;
  padding: 0.4rem 1.3rem;

  transition: all 0.2s ease-in;

  outline: none;
}

.link:hover {
  color: var(--light-color);
  background: var(--purple-color);
}

@media (max-width: 40rem) {
  .books {
    grid-template-columns: 1fr;
  }
}
