.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  justify-content: center;
  align-items: center;
}

.container > div {
  padding: 0.5rem;
}

@media (max-width: 40rem) {
  .container {
    grid-template-columns: 1fr;
  }

  .container:first-child {
    margin-top: 3rem;
  }
}
