.bookHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: block;

  background: #fff;
  color: var(--purple-color);

  font-size: 1rem;

  border: 1px solid transparent;
  border-radius: 0.2rem;

  cursor: pointer;

  padding: 0.4rem 1.3rem;

  transition: all 0.2s ease-in;

  outline: none;
}

.link:hover {
  color: var(--light-color);
  background: var(--purple-color);
}

.bookContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.bookContent p {
  text-align: justify;
  font-size: 1.2rem;

  padding: 0.2rem;
}

.bookContent img {
  max-height: 40rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 0 3px #aaa;
  border-radius: 0.2rem;
}

.previewLink {
  transition: 0.2s;
}

.previewLink:hover {
  text-decoration: underline;
}

@media (max-width: 40rem) {
  .bookContent {
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
  }

  .bookContent img {
    height: 20rem;
  }
}
